[Desktop Entry]
Name=SuperSecret Vault
Exec=/home/tdg/GitRepos/supersecret-vault/build/dist/main
Icon=/home/tdg/GitRepos/supersecret-vault/icon.png
Type=Application
Categories=Utility;Security;
Terminal=false
